pytest>=7.0.0
black>=23.0.0
flake8>=6.0.0
jupyterlab>=4.0.0
httpx<0.25.0  # fix jupyterlab compatibility issue
# streamlit
# openai
# PyPDF2
# pydantic
python-dotenv
# tiktoken
google-generativeai
google.ai.generativelanguage
google-api-python-client
# pandas